<div class="card">
  <div class="card-body">
    <form class="form-horizontal" [formGroup]="angForm" novalidate>

      <div class="form-group" *ngIf="survey.publish" >
        <label class="col-md-4">Survey ID</label>
        <input type="text" class="form-control" formControlName="survey_id">
      </div>

      <div class="form-group">
        <label class="col-md-4">Survey Name</label>
        <input type="text" class="form-control" formControlName="survey_name" #survey_name />
      </div>

      <div *ngIf="angForm.controls['survey_name'].invalid && (angForm.controls['survey_name'].dirty || angForm.controls['survey_name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['survey_name'].errors.required">
          Survey Name is required.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Range </label>
        <select class="form-control" formControlName="survey_range" #survey_range (change)="updateRange($event.target.value)" >
          <option [value]=option.val *ngFor="let option of kurtOptions">{{option.label}}</option>
        </select>
      </div>

      <div class="form-group">
        <label class="col-md-4">Grid</label>
          <app-edit-grid [survey]="survey" [range]="range" (output_grid)="updateGrid($event)"></app-edit-grid>
      </div>
      <div class="form-group">
          <app-edit-statements [statements]="survey.statements" [disabled]="survey.publish" (status)="ngOnInit()"></app-edit-statements>
      </div>

      <div class="form-group">
        <button *ngIf="!survey.publish" (click)="updateSurvey(survey_name.value, survey_range.value)" [disabled]="angForm.invalid" class="btn btn-primary">Update</button>
        <button *ngIf="!survey.publish" (click)="publishSurvey()" [disabled]="angForm.invalid" class="btn btn-danger">Publish</button>
        <a [routerLink]="['/admin']" class="btn btn-light">Cancel</a>
      </div>

    </form>
  </div>
</div>