.table th, .table td {
    padding: 0.1rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.card {
    height: 80px;
    width: 125px;
    overflow: auto;
    padding: 5px 10px;
    /* border: black; */
}

.btn-light {
    color:black;
}
.box {
    border: 1px solid grey;
}

::-webkit-scrollbar {
    display: none;
}
