<!--
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <a class="navbar-brand" href="">
        <img src="src/app/favicon.ico" width="30" height="30" alt="">
      </a>
      <li class="nav-item">
        <a routerLink="admin" class="nav-link" routerLinkActive="active">Admin Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="survey/5ba09effcecbea19b0dbf0a2" class="nav-link" routerLinkActive="active">Landing Page (fixed survey)</a>
      </li>
      <li class="nav-item">
        <a routerLink="/instructions/5ba09effcecbea19b0dbf0a2" class="nav-link" routerLinkActive="active">Instructions (fixed survey)</a>
      </li>
      <li class="nav-item">
        <a routerLink="/registration/5ba09effcecbea19b0dbf0a2" class="nav-link" routerLinkActive="active">Registration (fixed survey)</a>
      </li>
    </ul>
  </div>
</nav>
-->

<!-- Gap on top - Row 1-->
<div class="row justify-content-center" style="padding-top:25px">
  <table class="table compress">
    <tr>
      <td class="justify-content-center" *ngFor="let col of grid; let i = index">
        <div *ngIf="i-offset <= 0" class="cell" style="text-align: center">{{i-offset}}</div>
        <div *ngIf="i-offset > 0" class="cell" style="text-align: center">+{{i-offset}}</div>
        <div *ngIf="i == 0" class="cell" style="text-align: center">Most Disagree</div>
        <div *ngIf="i != 0 && i != offset * 2" class="cell" style="text-align: center">&nbsp;</div>
        <div *ngIf="i == offset * 2" class="cell" style="text-align: center">Most Agree</div>
      </td>
    </tr>
    <tr>
      <!-- Columns -->
      <td class="justify-content-center" *ngFor="let col of grid; let i = index">
          <!-- Cells -->
          <div class="cell" *ngFor="let row of arr(col).fill(1); let j = index" id={{i}}>
            <div id = "gridcell" class ="card" droppable id={{j}} (click)="drop_click(i, j)" (onDrop)="drop($event, i, j)" draggable [dragData]="{array: 'matrix', col: i, cell: j, index: matrix[i][j]}">
              <div *ngIf="matrix.length > 0 && matrix[i][j] != -1">
                {{ statement[matrix[i][j]] }}
              </div>
              <div *ngIf="matrix[i][j] != -1">
                &nbsp;
              </div>
            </div>
          </div>
      </td>
    </tr>
  </table>
</div>
<div class="container">
  <!-- {          Continue              } -->
  <div class="row" style="padding-top:10px; padding-left:15px; padding-right:15px;">
    <button class="btn btn-block btn-outline-primary" *ngIf="disagree_index == disagree.length && neutral_index == neutral.length && agree_index == agree.length" (click)="publishSortContinue()"><h5>continue</h5></button>
  </div>

  <div class="row" style="padding-top:10px">

    <!-- Disagree List -->
    <div class="col-md-4">
      <!-- Header -->
      <div class="list-group">
        <li class="list-group-item bg-danger" (click)="select_click(0)" >
          <h5>Disagree
            <i class="badge badge-pill badge-danger" *ngIf="selected_list === 0"><i class="fas fa-check"></i></i>
          </h5>
        </li>
      </div>
      <!-- Body -->
      <div class="list-group scroll-box">
        <!-- New list item for each statement -->
        <li class="list-group-item no-gap custom-list" *ngIf="disagree_index != disagree.length" draggable [dragData]="{array: 'disagree', index: disagree[disagree_index]}">
          <p> {{ statement[disagree[disagree_index]] }}</p>
        </li>
      </div>
    </div>

    <!-- Neutral List -->
    <div class="col-md-4">
      <!-- Header -->
      <div class="list-group">
        <li class="list-group-item bg-warning" (click)="select_click(1)">
          <h5>Neutral
            <i class="badge badge-pill badge-warning" *ngIf="selected_list === 1"><i class="fas fa-check"></i></i>
          </h5>
        </li>
      </div>
      <!-- Body -->
      <div class="list-group scroll-box">
        <!-- New list item for each statement -->
        <li class="list-group-item no-gap custom-list" *ngIf="neutral_index != neutral.length" draggable [dragData]="{array: 'neutral', index: neutral[neutral_index]}">
          <p>{{ statement[neutral[neutral_index]] }}</p>
        </li>
      </div>
    </div>

     <!-- Agree List -->
    <div class="col-md-4">
      <!-- Header -->
      <div class="list-group">
        <li class="list-group-item bg-success" (click)="select_click(2)">
          <h5>Agree
            <i class="badge badge-pill badge-success" *ngIf="selected_list === 2"><i class="fas fa-check"></i></i>
          </h5>
        </li>
      </div>
      <!-- Body -->
      <div class="list-group scroll-box">
        <!-- New list item for each statement -->
        <li class="list-group-item no-gap custom-list" *ngIf="agree_index != agree.length" draggable [dragData]="{array:'agree', index:agree[agree_index]}">
          <p>{{ statement[agree[agree_index]] }}</p>
        </li>
      </div>
    </div>
    <div class="row" style="padding-top:10px; padding-left:15px; padding-right:15px;">
    <app-ngbd-modal-basic-qsort></app-ngbd-modal-basic-qsort>
</div>
<!-- Display User ID -->
<div class="fixed-bottom d-print-none">
    <div class="float-left">
      <div class="text-sm font-italic text-monospace" style="font-size: 8pt;"> ID: {{ user_id }} </div>
    </div>
  </div>
</div>
