.container {
    /*float: left;*/
    width: 200px;
    height: 100px;
    margin: 20px;
    /*padding: 10px;*/
    border: 1px solid black;
}

.statement {
    width: 90%;
    height: 80%;
    background-color: aquamarine;
    padding: 10px;
}

.column {
    float: left;
}