.button2 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 8%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    }

    .buttonHolder{ margin-left:16%}


    body {
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }

    ul.ul,h1.h1instructions{
       text-align: center;
       list-style-position: inside;
    }

    ul li {
     padding: 10px;
     padding-right: 50px;
    }

    h2.questions, p.questions, textarea.questions {
       margin-top: 20px;
       margin-right: 400px;
       margin-left: 300px;
    }

    form.questions {
      /* margin-top: 20px;
      margin-right: 100px;
      margin-left: 60px;
      margin-bottom: 60px; */

    }

    h1.heading4questionnaire {
     margin-top: 60px;
     margin-left: 300px;

    }

    .buttonHolder2 {
      margin-bottom: 20px;
      margin-top: 30px;
    }

    .formq {
      margin-left: 300px;
    }