doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title  Step 3 
    link(href='style.css', rel='stylesheet')
    script.
      function allowDrop(ev) {
      ev.preventDefault();
      }
      function drag(ev) {
      ev.dataTransfer.setData("text", ev.target.id);
      }
      function drop(ev) {
      var data = ev.dataTransfer.getData("text");
      if (ev.target.className === "container") {
      ev.preventDefault();
      ev.target.appendChild(document.getElementById(data));
      } else {
      ev.preventDefault();
      }
      }
    style.
      .container {
      width: 200px;
      height: 300px;
      margin: 20px;
      border: 1px solid black;
      overflow: auto;
      }
      .statement {
      width: 180px;
      padding: 10px;
      background-color:rgba(255, 255, 255, 0.3);
      }
      .column {
      float: left;
      }
  body
    header Lorem ipsum
    .statement(style='height: 100px')
      #drag1.statement(draggable='true', ondragstart='drag(event)')
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
    br
    .column
      h2 Disagree
      .container(ondrop='drop(event)', ondragover='allowDrop(event)', style='background-color:red')
    .column
      h2 Neutral
      .container(ondrop='drop(event)', ondragover='allowDrop(event)', style='background-color:yellow')
    .column
      h2 Agree
      .container(ondrop='drop(event)', ondragover='allowDrop(event)', style='background-color:green')
