<!-- Nav bar-->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="">
    <img src="../../../favicon.ico" width="30" height="30" alt="">
  </a>
  <button class="btn btn-outline-primary my-2 my-sm-0" (click)="logOut()">Log Out</button>
</nav>
<!-- Search -->
<div class="row">
  <div class="col-sm-12">
    <div class="input-group stylish-input-group">
      <input type="text" class="form-control" [(ngModel)]="filter" placeholder="Search by name or id...">
    </div>
  </div>
</div>

<!-- Table of Surveys -->
<table class="table table-hover">
  <!-- Categories -->
  <thead>
  <tr>
    <td class="justify-content-center">#</td>
    <td class="justify-content-center">Status</td>
    <td>Survey</td>
    <td>Statements</td>
    <td *ngIf="complete_only" (click)="togComplete()" >Responses</td>
    <td *ngIf="!complete_only" (click)="togComplete()" >Responses*</td>
    <td>View</td>
    <td>Actions</td>
  </tr>
  </thead>
  <!-- Content -->
  <tbody>
    <!-- For every survey in this.surveys -->
    <tr *ngFor="let survey of surveys | filterSurveyNames:filter | paginate: {itemsPerPage: PAGINATE_TABLES, currentPage:page, id: '1'}; let i = index">
      <!-- Display name and number of statements and user count -->
      <td>{{ i+1 }}</td>
      <td class="justify-content-center">
        <i *ngIf= "!survey.publish && survey.users.length === 0" class="fas fa-stop-circle text-danger"></i>
        <i *ngIf= "!survey.publish && survey.users.length > 0" class="fas fa-pause-circle text-warning"></i>
        <i *ngIf= "survey.publish" class="fas fa-play-circle text-primary"></i>
      </td>
      <td>{{ survey.name }}</td>
      <td>{{ survey.statements.length }}</td>
      <td (click)="togComplete()" *ngIf="complete_only">{{ survey.valid_users }} </td>
      <td (click)="togComplete()" *ngIf="!complete_only">{{ survey.users.length }} </td>
      <td>{{ survey.valid_users }} </td> <!-- TODO: Replace with actual user count-->

      <td>
        <!-- { Results } -->
        <div class="btn-group">
          <a *ngIf="survey.users.length > 0" [routerLink]="['/results', survey._id]" class="btn btn-primary">
            <i class="fa fa-list"></i> <div class="d-none d-lg-inline"> Results</div>
          </a>
          <button *ngIf="survey.users.length === 0" class="btn btn-outline-light disabled">
            <i class="fa fa-list"></i> <div class="d-none d-lg-inline"> Results</div>
          </button>
        </div>
      </td>

      <td>
        <!-- { Edit | Link } buttons -->
        <div class="btn-group">
          <!-- Edit -->
          <a [routerLink]="['/edit', survey._id]" class="btn btn-light">
            <div *ngIf="survey.publish">
              <i class="fas fa-eye"></i><div class="d-none d-lg-inline"> View</div>
            </div>
            <div *ngIf="!survey.publish && survey.users.length === 0">
              <i class="fas fa-wrench"></i><div class="d-none d-lg-inline"> Edit</div>
            </div>
            <div *ngIf="!survey.publish && survey.users.length > 0">
              <i class="fas fa-play"></i><div class="d-none d-lg-inline"> Start</div>
            </div>
          </a>
          <!-- Link sub-component -->
          <app-admin-link [survey]="survey"></app-admin-link>
        </div>
      </td>

      <td>
        <!-- { Delete } button -->
        <button (click)="deleteSurvey(survey._id)" class="btn btn-danger">
          <i class="far fa-trash-alt"></i>
        </button>
      </td>

    </tr>
  </tbody>
</table>
<!-- Create New Survey -->
<a [routerLink]="['/create']" class="btn btn-secondary btn-block">
  Create New Survey
</a>
<!-- Pagination Controls -->
<div class="row justify-content-center">
  <pagination-controls class="my-pagination"(pageChange)="page = $event" id="1"
    maxSize="5"
    directionLinks="true"
    autoHide="true"
    previousLabel=""
    nextLabel="">
  </pagination-controls>
</div>
