<div class="container">
<!-- Nav bar-->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="">
    <img src="src/app/favicon.ico" width="30" height="30" alt="">
  </a>
</nav>

<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>

      <div class="form-group">
        <label class="col-md-4">Survey Name</label>
        <input type="text" class="form-control" formControlName="survey_name" name="survey_name" #survey_name/>
      </div>

      <div *ngIf="angForm.controls['survey_name'].invalid && (angForm.controls['survey_name'].dirty || angForm.controls['survey_name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['survey_name'].errors.required">
          Survey Name is required.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Range</label>
        <select class="form-control" formControlName="survey_range" name="survey_range" #survey_range>
          <option  [value]=option.val *ngFor="let option of cols_templates">{{option.label}}</option>
        </select>
      </div>

      <div *ngIf="angForm.controls['survey_range'].invalid && (angForm.controls['survey_range'].dirty || angForm.controls['survey_range'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['survey_range'].errors.required">
          Range is required.
        </div>
      </div>

      <div class="form-group">
          <label class="col-md-4">Configuration</label>
          <input class="form-control-file" id="file_input" type="file" #file (change)="onUpload(file.files)"/>
          <br>
          <div *ngIf="error" class="alert alert-danger"> Failed to load configuration! </div>
          <div *ngIf="!error && registration.length > 0 && reg_load" class="alert alert-success"> <strong>{{registration.length}}</strong> Registration Fields Loaded! </div>
          <div *ngIf="!error && statements.length > 0 && statem_load" class="alert alert-success"> <strong>{{statements.length}}</strong> Statements Loaded! </div>
          <div *ngIf="!error && questionnaire.length > 0 && ques_load" class="alert alert-success"> <strong>{{questionnaire.length}}</strong> Questions Loaded! </div>
          <div *ngIf="!error && instructions.length > 0 && ins_load" class="alert alert-success"> <strong>{{instructions.length}}</strong> Instructions Loaded! </div>
      </div>

      <div class="form-group">
        <button (click)="addSurvey()" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Create</button>
        <a [routerLink]="['/admin']" class="btn btn-light">Cancel</a>
      </div>
    </form>
  </div>
</div>
</div>
