<!-- Nav Bar -->
<!--
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <a class="navbar-brand" href="">
        <img src="../../../favicon.ico" width="30" height="30" alt="">
      </a>
      <li class="nav-item">
        <a routerLink="admin" class="nav-link" routerLinkActive="active">Admin Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="survey/5ba09effcecbea19b0dbf0a2" class="nav-link" routerLinkActive="active">Landing Page (fixed survey)</a>
      </li>
      <li class="nav-item">
        <a routerLink="/instructions/5ba09effcecbea19b0dbf0a2" class="nav-link" routerLinkActive="active">Instructions (fixed survey)</a>
      </li>
      <li class="nav-item">
        <a routerLink="/registration/5ba09effcecbea19b0dbf0a2" class="nav-link" routerLinkActive="active">Registration (fixed survey)</a>
      </li>
    </ul>
  </div>
</nav>
-->
<!-- Loading Bar -->
<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>

<!-- App -->
<div class="container">
  <router-outlet></router-outlet>
</div>
<!-- CC License -->
<div class="fixed-bottom d-print-none">
  <div class="float-right">
    <i class="fab fa-creative-commons"></i>
    <i class="fab fa-creative-commons-by"></i>
    <i class="fab fa-creative-commons-nc"></i>
  </div>
</div>
