<div class="container">
<div class = "header">
<h1>QMd</h1>
<h4>Admin Login</h4>
<body>
  <form (ngSubmit) = "logIn()" class ="form">
    <div [formGroup]="loginForm">
        <label for="Username">Username</label>
        <input type="text" class="form-control" formControlName ="username" placeholder = "Enter your Username">
        <label for="password">Password</label>
        <input type="password" class="form-control" formControlName= "password" placeholder = "Enter Password">
        <button type="submit" class="btn btn-default"> login </button>
    </div>
  </form>
</body>
</div>
</div>
