<div class="container">
<div [formGroup]="reg_fg">
  <div formArrayName="fields" *ngFor="let field of reg_fg.get('fields')['controls']; let i = index;">
    <div [formGroupName]="i">
      <div class="form_attribute">
        <label><h5> {{ reg_fg['controls']['fields']['controls'][i]['controls'].question.value }} <span class="required">*</span> </h5></label>
        <p> <textarea rows='5' cols='100' formControlName="answer" [maxLength]="FIELD_NAME_LIMIT"></textarea> </p>
      </div>
    </div>
    <!-- reg_fg.controls['fields'].dirty ||  -->
    <div *ngIf="reg_fg['controls']['fields']['controls'][i].invalid && (reg_fg['controls']['fields']['controls'][i].dirty || reg_fg['controls']['fields']['controls'][i].touched)" class="alert alert-danger">
      <!-- <div *ngIf="reg_fg['controls']['fields']['controls'][i].errors.required"> -->
      <div>
        Field is required.
     </div>
    </div>

  </div>
</div>
<button class="button" class="btn btn-primary btn-block" (click)="addUser()" [disabled]="reg_fg.pristine || reg_fg.invalid">Submit</button>
</div>
