<div class="container">
<body>
  <h1 class="instructions">Instructions</h1>
    <ul class ="ul">

      <li *ngFor="let ins of instructions">
        {{ins}}
      </li>
     </ul>
     <div class="buttonHolder">
     <!-- <input value="Agree" id="submit" type="submit"> -->
     <!-- <button class="button" onclick="window.location.href='/v1/registration'">Agree</button> -->
     <!-- <a [routerLink]="['/registration', survey_id]" [skipLocationChange]="true" class="btn btn-primary btn-block"> Agree </a>-->
     <button class="btn btn-primary btn-block" (click)="goNext()"> Agree </button>
     </div>
</body>
</div>
