ul li {
  padding: 10px;
  padding-right: 50px;
}

h2.questions, p.questions, textarea.questions {
    margin-top: 20px;
    margin-right: 400px;
    margin-left: 300px;
}

h1.heading4questionnaire {
  margin-top: 60px;
  margin-left: 300px;

}
