<div class="container">
    <div class="row justify-content-center" style="padding-top:25px">
      <div class="col align-self-center">
        <!-- TODO: find and replace "survey.statements" with "statementObjs" -->
        <div class="card main-card" *ngIf="!survey.statements.length"></div>
        <div class="card main-card text-center" *ngIf="survey.statements.length" draggable [dragData]="survey.statements[0]"> 
          <div class="card-body">
            <h3>{{ survey.statements[0] }}</h3>
          </div>
        </div>
      </div>
    </div>
    <!-- TODO: Error message on invalid survey id -->
    <div class="row justify-content-center" style="padding-top:25px">
      <div class="btn-group">
        <div class="btn btn-light"> <i class="fas fa-chevron-left"></i> </div>
        <!-- TODO: find and replace "survey.statements" with "statementObjs" -->
        <div class="btn btn-light disabled"> 1/{{ survey.statements.length }}</div>
        <div class="btn btn-light"> <i class="fas fa-chevron-right"></i> </div>
      </div>
    </div>

    <div class="row" style="padding-top:25px">
      <div class="col-md-4">
        <div class="list-group" >
          <li class="list-group-item bg-danger">
            <h5>Disagree</h5>
          </li>
        </div>
        <div class="list-group scroll-box" droppable (onDrop)="onDisagreeDrop($event)">
          <!-- TODO: find and replace "statement" with "statement.string" -->
          <li class="list-group-item no-gap" *ngFor="let statement of disagree" draggable [dragData]="statement">
            <p>{{ statement }}</p>
          </li>
        </div>
      </div>

      <div class="col-md-4">
        <div class="list-group">
          <li class="list-group-item bg-warning">
            <h5>Neutral</h5>
          </li>
        </div>
        <div class="list-group scroll-box" droppable (onDrop)="onNeutralDrop($event)">
          <!-- TODO: find and replace "statement" with "statement.string" -->
          <li class="list-group-item no-gap" *ngFor="let statement of neutral" draggable [dragData]="statement">
            <p>{{ statement }}</p>
          </li>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="list-group">
          <li class="list-group-item bg-success">
            <h5>Agree</h5>
          </li>
        </div>
        <div class="list-group scroll-box" droppable (onDrop)="onAgreeDrop($event)">
          <!-- TODO: find and replace "statement" with "statement.string" -->
          <li class="list-group-item no-gap" *ngFor="let statement of agree" draggable [dragData]="statement">
            <p>{{ statement }}</p>
          </li>
        </div>
      </div>

    </div>
  </div>