.card {
    margin-bottom: 1px;
}

.custom-temp {
    width: 200px;
    height: 300px;
    margin: 20px;
    border: 1px solid black;
    overflow: auto;
}

.statement {
    width: 180px;
    padding: 10px;
    
    background-color:rgba(255, 255, 255, 0.3);
}

.column {
    float: left;
}

.scroll-box {
    height:425px;
    overflow-y: scroll;
}
.list-group .no-gap{
    padding-bottom: 0.1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}