.table th, .table td {
    width: 3%;
    padding: 0.1rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.btn {
    width: 95%; 
    height: 2rem;
}

.delete:hover {
   background-color: #E74C3C
}