.table th, .table td {
    padding: 0.1rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.btn {
    height: 2rem;
}

.btn-light {
    color:white;
}

.delete:hover {
   background-color: #E74C3C
}
