<!-- @Input() => [survey, grid] -->
<!--
  User grid answer data will be stored as [col][cell]
  Grid display is [ cellcount, ... ]
  i.e. [2, 3, 4, 3, 4, 3, 2] =>
        _ _ _ _ _ _ _
        _ _ _ _ _ _ _
          _ _ _ _ _
            _   _
-->
<table class="table compress">
  <tr>
    <!-- Columns -->
    <td *ngFor="let max_col of max_grid; let i = index" [attr.data-index]="i">
      <!-- Range Display -->
      <div class="text-center"> {{i - offset}}
        <!-- Cells -->
        <div class="cell" *ngFor="let row of arr(max_col).fill(1); let j = index" [attr.data-index]="j">

          <!-- If this is the last valid cell on our current grid, create a delete button -->
          <div *ngIf="j == grid[i]-1 && j < grid[i]">
            <div *ngIf="!disabled" class="btn btn-block btn-light delete" (click)="deleteBtn(i, j)"><i class="fas fa-minus"></i></div>
            <!-- If published, override with disabled button -->
            <div *ngIf="disabled" class="btn btn-block btn-light disabled"></div>
          </div>
          <!-- If this is the a cell after the last valid cell of our current grid, create an add button -->
          <div *ngIf="j == grid[i] && j != max_grid[i]">
            <div *ngIf="!disabled" class="btn btn-block btn-outline-light" (click)="addBtn(i, j)"><i class="fas fa-plus"></i></div>
            <!-- If published, override with disabled button -->
            <div *ngIf="disabled" class="btn btn-block btn-light disabled"></div>
          </div>
          <!-- else create a disabled button -->
          <div *ngIf="j != max_grid[i]-1 && j != grid[i]-1 && j < grid[i]" class="btn  btn-block btn-light disabled"></div>

        </div>
      </div>
    </td>
  </tr>
</table>

<!-- Error Messages for Grid -->
<div *ngIf="(grid_statements_count != num_statements) && !init" class="alert alert-danger text-center">
  <h5 class="alert-heading"> Invalid grid </h5>
  <p style="font-size: 0.875rem"> Number of statements do not match current grid configuration. Grid Spaces: {{ grid_statements_count }} Statements: {{ num_statements }} </p>
</div>

<div *ngIf="(grid_statements_count != num_statements) && disabled && !init" class="alert alert-danger text-center">
  <p style="font-size: 0.875rem"> INVALID/CORRUPT Survey! Please delete/verify database with mongoDB Compass!</p>
</div>
