
    <ngbd-modal-basic>

    </ngbd-modal-basic>


<div class="container">
    <!-- Gap on top - Row 1-->
    <div class="row justify-content-center" style="padding-top:25px">
      <!-- Main Card -->
      <div class="col align-self-center">
        <div class="card main-card" *ngIf="!statements_sort.length"></div>
        <div class="card main-card text-center" *ngIf="statements_sort.length" draggable [dragData]="statements_sort[0]">
          <div class="card-body">
            <h3>{{ statements[statements_sort[current_index]] }}</h3>
          </div>
        </div>
      </div>
    </div>
    <!-- Gap on top - Row 2 -->
    <div class="row justify-content-center" style="padding-top:25px">
      <!-- { < | Current/Total | > } -->
      <div class="btn-group">
        <button class="btn btn-light" (click)="decreaseIndex()" [disabled]="current_index <= 0"><i class="fas fa-chevron-left"></i></button>
        <div class="btn btn-light disabled"> {{current_index+1}} / {{ statements_sort.length }}</div>
        <button class="btn btn-light" (click)="increaseIndex()" [disabled]="current_index+1 >= statements_sort.length"><i class="fas fa-chevron-right"></i></button>
      </div>
    </div>

    <!-- {          Continue              } -->
    <div class="row" style="padding-top:10px; padding-left:15px; padding-right:15px;">
      <!-- Button (hidden when arrays are not filled) that 1) submits userdata to user api 2) goes to q-sort page-->
      <button class="btn btn-block btn-outline-primary" *ngIf="!statements_sort.length" (click)="publishSortContinue()"><h5>continue</h5></button>
    </div>

    <!-- Row 3 - Agree/Disagree/Neutral Panels -->
    <div class="row" style="padding-top:10px">

      <!-- Disagree List -->
      <div class="col-md-4">
        <!-- Header -->
        <div class="list-group">
          <li class="list-group-item bg-danger" >
            <h5>Disagree</h5>
          </li>
        </div>
        <!-- Body -->
        <div class="list-group scroll-box" droppable (click)="onDisagreeClick()" (onDrop)="onDisagreeDrop($event)">
          <!-- New list item for each statement -->
          <li class="list-group-item no-gap" *ngFor="let disagree_index of disagree" draggable [dragData]="disagree_index">
            <p>{{ statements[disagree_index] }}</p>
          </li>
        </div>
      </div>

      <!-- Neutral List -->
      <div class="col-md-4">
        <!-- Header -->
        <div class="list-group">
          <li class="list-group-item bg-warning">
            <h5>Neutral</h5>
          </li>
        </div>
        <!-- Body -->
        <div class="list-group scroll-box" droppable (click)="onNeutralClick()" (onDrop)="onNeutralDrop($event)">
          <!-- New list item for each statement -->
          <li class="list-group-item no-gap" *ngFor="let neutral_index of neutral" draggable [dragData]="neutral_index">
            <p>{{ statements[neutral_index] }}</p>
          </li>
        </div>
      </div>

       <!-- Agree List -->
      <div class="col-md-4">
        <!-- Header -->
        <div class="list-group">
          <li class="list-group-item bg-success">
            <h5>Agree</h5>
          </li>
        </div>
        <!-- Body -->
        <div class="list-group scroll-box" droppable (click)="onAgreeClick()" (onDrop)="onAgreeDrop($event)">
          <!-- New list item for each statement -->
          <li class="list-group-item no-gap" *ngFor="let agree_index of agree" draggable [dragData]="agree_index">
            <p>{{ statements[agree_index] }}</p>
          </li>
        </div>
      </div>
    </div>
  </div>
