.main-card {
    text-align: center;
    vertical-align: middle;
    height: 15rem;
    overflow-y: scroll;
    width: 100%;
    max-height: 100%;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.scroll-box {
    max-height: 100%;
    height: 400px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.list-group .no-gap{
    padding-bottom: 0.1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.fixed-dropboxes {
    position: fixed;
    bottom: 0;
    right: 0;
}

::-webkit-scrollbar { 
    display: none;
}

.btn-block {
    padding-top: 25px;
    padding-bottom: 25px;
}
