.main-card {
    text-align: center;
    vertical-align: middle;
    height: 25vh;
    overflow-y: scroll;
    width: 100%;
    max-height: 100%;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.scroll-title {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.scroll-box {
    max-height: 100%;
    height: 40vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.list-group .no-gap{
    padding-bottom: 0.1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.fixed-dropboxes {
    position: fixed;
    bottom: 0;
    right: 0;
}

::-webkit-scrollbar {
    display: none;
}

.btn-block {
    padding-top: 25px;
    padding-bottom: 25px;
}
